In [11]:
import os
import ast
import pandas as pd

In [2]:
path = 'output/avg1/'
file_list = os.listdir(path)

In [3]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path + name, 'r') as f:
            lines += f.read()

In [4]:
print lines

[["from", "17031280100"], "avg"]	6.33130490301422
[["from", "17031280100"], "std"]	35.66111333114549
[["to", "17031081202"], "avg"]	8.48033413864549
[["to", "17031081202"], "std"]	44.3350332497959
[["to", "17031330100"], "avg"]	8.623058971979997
[["to", "17031330100"], "std"]	32.019606248204255
[["from", "17031081100"], "avg"]	8.011876287719227
[["from", "17031081100"], "std"]	44.02876191411933
[["to", "17031081000"], "avg"]	8.164110890268148
[["to", "17031081000"], "std"]	59.10152434885817
[["from", "17031071500"], "avg"]	10.341910051326293
[["from", "17031071500"], "std"]	46.99097548895756
[["from", "17031080100"], "avg"]	9.56118022244064
[["from", "17031080100"], "std"]	70.53418052752949
[["from", "17031081800"], "avg"]	6.931666883347113
[["from", "17031081800"], "std"]	38.63869318613294
[["from", "17031320400"], "avg"]	6.239196311089005
[["from", "17031320400"], "std"]	50.70491706349934
[["to", "17031081700"], "avg"]	6.612662267943041
[["to", "17031081700"], "std"]	52.45541552129433
[["from", "17031081401"], "avg"]	7.500800432516646
[["from", "17031081401"], "std"]	44.02109714003294
[["to", "17031320600"], "avg"]	6.851415235107151
[["to", "17031320600"], "std"]	37.96900826220279
[["from", "17031081500"], "avg"]	6.893429286820566
[["from", "17031081500"], "std"]	42.02826587851726
[["from", "17031320100"], "avg"]	6.358970022126158
[["from", "17031320100"], "std"]	41.27427806128381
[["to", "17031080202"], "avg"]	9.049810838744804
[["to", "17031080202"], "std"]	59.07987298552599
[["to", "17031980100"], "avg"]	29.027682348163786
[["to", "17031980100"], "std"]	56.21580342544588
[["from", "17031081300"], "avg"]	7.957235641766535
[["from", "17031081300"], "std"]	37.238846633236655
[["from", "17031980000"], "avg"]	40.19577127704018
[["from", "17031980000"], "std"]	46.028975267902254
[["to", "17031839100"], "avg"]	6.148791556019109
[["to", "17031839100"], "std"]	43.43956272117092
[["from", "17031081000"], "avg"]	7.896108814410048
[["from", "17031081000"], "std"]	45.35222887982533
[["to", "17031081402"], "avg"]	8.305112428183307
[["to", "17031081402"], "std"]	67.17086960959806
[["to", "17031281900"], "avg"]	6.623303099010642
[["to", "17031281900"], "std"]	42.178672370960996
[["from", "17031320600"], "avg"]	6.762135793255862
[["from", "17031320600"], "std"]	47.635129207812184
[["to", "17031081201"], "avg"]	8.140120554052793
[["to", "17031081201"], "std"]	49.30123854140227
[["from", "17031081700"], "avg"]	6.620405038472071
[["from", "17031081700"], "std"]	45.25935423782317
[["to", "17031081403"], "avg"]	7.538907704642886
[["to", "17031081403"], "std"]	70.22357255695485
[["to", "17031081600"], "avg"]	6.766333310268573
[["to", "17031081600"], "std"]	46.129565038634425
[["to", "17031833100"], "avg"]	7.6141232216173895
[["to", "17031833100"], "std"]	40.81841904549819
[["to", "17031081401"], "avg"]	7.718762518189636
[["to", "17031081401"], "std"]	43.47362492841284
[["from", "17031081202"], "avg"]	8.815588174152447
[["from", "17031081202"], "std"]	64.0230418418097
[["from", "17031330100"], "avg"]	9.00985897846811
[["from", "17031330100"], "std"]	41.900645909484815
[["from", "17031081402"], "avg"]	7.752320759820295
[["from", "17031081402"], "std"]	49.79580484739719
[["from", "17031281900"], "avg"]	6.4782010946812365
[["from", "17031281900"], "std"]	42.80111530586751
[["to", "17031280100"], "avg"]	6.589710575132044
[["to", "17031280100"], "std"]	38.91324875036058
[["from", "17031081403"], "avg"]	6.827447657583868
[["from", "17031081403"], "std"]	40.5658673645939
[["from", "17031081600"], "avg"]	6.537618979886526
[["from", "17031081600"], "std"]	42.46709280674928
[["from", "17031833100"], "avg"]	7.7707279787651995
[["from", "17031833100"], "std"]	48.66611581834174
[["to", "17031081500"], "avg"]	6.949345353344411
[["to", "17031081500"], "std"]	44.4531548041298
[["to", "17031320100"], "avg"]	6.4677812124530725
[["to", "17031320100"], "std"]	45.95641856131231
[["from", "17031839100"], "avg"]	6.217072172063831
[["from", "17031839100"], "std"]	45.638985728677916
[["to", "17031081100"], "avg"]	8.095292578669437
[["to", "17031081100"], "std"]	37.06299990558143
[["from", "17031080202"], "avg"]	8.803800268372997
[["from", "17031080202"], "std"]	53.651943149811075
[["from", "17031980100"], "avg"]	28.97289595075884
[["from", "17031980100"], "std"]	35.99522547984342
[["to", "17031081300"], "avg"]	8.073970998017526
[["to", "17031081300"], "std"]	34.929051886606835
[["to", "17031980000"], "avg"]	40.338880975202905
[["to", "17031980000"], "std"]	55.7284631351719
[["from", "17031081201"], "avg"]	7.968943699865674
[["from", "17031081201"], "std"]	38.36957154352204
[["to", "17031071500"], "avg"]	10.340560774476222
[["to", "17031071500"], "std"]	42.58465863549802
[["to", "17031080100"], "avg"]	9.245745780308397
[["to", "17031080100"], "std"]	52.19957030927283
[["to", "17031081800"], "avg"]	7.026298735937953
[["to", "17031081800"], "std"]	36.2886075218224
[["to", "17031320400"], "avg"]	6.260906755149253
[["to", "17031320400"], "std"]	54.07648245192375

In [10]:
ast.literal_eval('[["from", "17031280100"], "avg"]')

[['from', '17031280100'], 'avg']

In [14]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [23]:
df1 = pd.DataFrame(rows)

In [24]:
df1.head()

                            0          1
0  [[from, 17031280100], avg]   6.331305
1  [[from, 17031280100], std]  35.661113
2    [[to, 17031081202], avg]   8.480334
3    [[to, 17031081202], std]  44.335033
4    [[to, 17031330100], avg]   8.623059

In [25]:
df1['to/from'] = df1[0].apply(lambda x: x[0][0])
df1['census_tract'] = df1[0].apply(lambda x: x[0][1])
df1['avg/std'] = df1[0].apply(lambda x: x[1])

In [22]:
df1

                             0          1 to/from census_tract avg/std
0   [[from, 17031280100], avg]   6.331305    from  17031280100     avg
1   [[from, 17031280100], std]  35.661113    from  17031280100     std
2     [[to, 17031081202], avg]   8.480334      to  17031081202     avg
3     [[to, 17031081202], std]  44.335033      to  17031081202     std
4     [[to, 17031330100], avg]   8.623059      to  17031330100     avg
5     [[to, 17031330100], std]  32.019606      to  17031330100     std
6   [[from, 17031081100], avg]   8.011876    from  17031081100     avg
7   [[from, 17031081100], std]  44.028762    from  17031081100     std
8     [[to, 17031081000], avg]   8.164111      to  17031081000     avg
9     [[to, 17031081000], std]  59.101524      to  17031081000     std
10  [[from, 17031071500], avg]  10.341910    from  17031071500     avg
11  [[from, 17031071500], std]  46.990975    from  17031071500     std
12  [[from, 17031080100], avg]   9.561180    from  17031080100     avg
13  [[from, 17031080100], std]  70.534181    from  17031080100     std
14  [[from, 17031081800], avg]   6.931667    from  17031081800     avg
15  [[from, 17031081800], std]  38.638693    from  17031081800     std
16  [[from, 17031320400], avg]   6.239196    from  17031320400     avg
17  [[from, 17031320400], std]  50.704917    from  17031320400     std
18    [[to, 17031081700], avg]   6.612662      to  17031081700     avg
19    [[to, 17031081700], std]  52.455416      to  17031081700     std
20  [[from, 17031081401], avg]   7.500800    from  17031081401     avg
21  [[from, 17031081401], std]  44.021097    from  17031081401     std
22    [[to, 17031320600], avg]   6.851415      to  17031320600     avg
23    [[to, 17031320600], std]  37.969008      to  17031320600     std
24  [[from, 17031081500], avg]   6.893429    from  17031081500     avg
25  [[from, 17031081500], std]  42.028266    from  17031081500     std
26  [[from, 17031320100], avg]   6.358970    from  17031320100     avg
27  [[from, 17031320100], std]  41.274278    from  17031320100     std
28    [[to, 17031080202], avg]   9.049811      to  17031080202     avg
29    [[to, 17031080202], std]  59.079873      to  17031080202     std
..                         ...        ...     ...          ...     ...
70  [[from, 17031081600], avg]   6.537619    from  17031081600     avg
71  [[from, 17031081600], std]  42.467093    from  17031081600     std
72  [[from, 17031833100], avg]   7.770728    from  17031833100     avg
73  [[from, 17031833100], std]  48.666116    from  17031833100     std
74    [[to, 17031081500], avg]   6.949345      to  17031081500     avg
75    [[to, 17031081500], std]  44.453155      to  17031081500     std
76    [[to, 17031320100], avg]   6.467781      to  17031320100     avg
77    [[to, 17031320100], std]  45.956419      to  17031320100     std
78  [[from, 17031839100], avg]   6.217072    from  17031839100     avg
79  [[from, 17031839100], std]  45.638986    from  17031839100     std
80    [[to, 17031081100], avg]   8.095293      to  17031081100     avg
81    [[to, 17031081100], std]  37.063000      to  17031081100     std
82  [[from, 17031080202], avg]   8.803800    from  17031080202     avg
83  [[from, 17031080202], std]  53.651943    from  17031080202     std
84  [[from, 17031980100], avg]  28.972896    from  17031980100     avg
85  [[from, 17031980100], std]  35.995225    from  17031980100     std
86    [[to, 17031081300], avg]   8.073971      to  17031081300     avg
87    [[to, 17031081300], std]  34.929052      to  17031081300     std
88    [[to, 17031980000], avg]  40.338881      to  17031980000     avg
89    [[to, 17031980000], std]  55.728463      to  17031980000     std
90  [[from, 17031081201], avg]   7.968944    from  17031081201     avg
91  [[from, 17031081201], std]  38.369572    from  17031081201     std
92    [[to, 17031071500], avg]  10.340561      to  17031071500     avg
93    [[to, 17031071500], std]  42.584659      to  17031071500     std
94    [[to, 17031080100], avg]   9.245746      to  17031080100     avg
95    [[to, 17031080100], std]  52.199570      to  17031080100     std
96    [[to, 17031081800], avg]   7.026299      to  17031081800     avg
97    [[to, 17031081800], std]  36.288608      to  17031081800     std
98    [[to, 17031320400], avg]   6.260907      to  17031320400     avg
99    [[to, 17031320400], std]  54.076482      to  17031320400     std

[100 rows x 5 columns]

### 1st calculation

In [26]:
path = 'output/avg1/'
file_list = os.listdir(path)

In [27]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path + name, 'r') as f:
            lines += f.read()

In [28]:
print lines

["17031080100", "avg"]	9.406521101992382
["17031080100", "std"]	62.22358000633698
["17031081800", "avg"]	6.974204268770347
["17031081800", "std"]	37.60052761403782
["17031980100", "avg"]	28.999703110315828
["17031980100", "std"]	46.98927885355815
["17031330100", "avg"]	8.85542241186938
["17031330100", "std"]	38.26318934058688
["17031081403", "avg"]	7.171061127788396
["17031081403", "std"]	56.85629225069781
["17031081600", "avg"]	6.655361489167035
["17031081600", "std"]	44.39044165529188
["17031280100", "avg"]	6.457312592149439
["17031280100", "std"]	37.28264814997135
["17031081202", "avg"]	8.649300293358294
["17031081202", "std"]	55.1436495696665
["17031081401", "avg"]	7.601765507632887
["17031081401", "std"]	43.76848168191308
["17031071500", "avg"]	10.341330262902058
["17031071500", "std"]	45.150288606885965
["17031081000", "avg"]	8.030711394187767
["17031081000", "std"]	52.70814843780759
["17031320400", "avg"]	6.249886888913706
["17031320400", "std"]	52.3922539484054
["17031081500", "avg"]	6.924600491449013
["17031081500", "std"]	43.39678000085015
["17031839100", "avg"]	6.18340898946065
["17031839100", "std"]	44.56822323157987
["17031081100", "avg"]	8.056508066682428
["17031081100", "std"]	40.45124012450723
["17031081201", "avg"]	8.052395082772227
["17031081201", "std"]	44.03930596414949
["17031833100", "avg"]	7.714408344301982
["17031833100", "std"]	45.99834575855486
["17031081300", "avg"]	8.017628051360575
["17031081300", "std"]	36.06240918156126
["17031081402", "avg"]	8.02546081411254
["17031081402", "std"]	59.02440739079553
["17031320100", "avg"]	6.416872055453935
["17031320100", "std"]	43.82814348675862
["17031080202", "avg"]	8.930307514114531
["17031080202", "std"]	56.508465898004715
["17031320600", "avg"]	6.804462751861288
["17031320600", "std"]	43.32219637088114
["17031081700", "avg"]	6.616564625973359
["17031081700", "std"]	48.96097525629102
["17031281900", "avg"]	6.5489514729503275
["17031281900", "std"]	42.49881871146539
["17031980000", "avg"]	40.27137379128102
["17031980000", "std"]	51.38175759075675

In [29]:
ast.literal_eval('["17031280100", "avg"]')

['17031280100', 'avg']

In [30]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [31]:
df1 = pd.DataFrame(rows)

In [34]:
df1.head()

                    0          1
0  [17031080100, avg]   9.406521
1  [17031080100, std]  62.223580
2  [17031081800, avg]   6.974204
3  [17031081800, std]  37.600528
4  [17031980100, avg]  28.999703

In [35]:
df1['census_tract'] = df1[0].apply(lambda x: x[0])
df1['avg/std'] = df1[0].apply(lambda x: x[1])

In [36]:
df1.head()

                    0          1 census_tract avg/std
0  [17031080100, avg]   9.406521  17031080100     avg
1  [17031080100, std]  62.223580  17031080100     std
2  [17031081800, avg]   6.974204  17031081800     avg
3  [17031081800, std]  37.600528  17031081800     std
4  [17031980100, avg]  28.999703  17031980100     avg

In [48]:
df1 = df1.drop(0, axis=1)

In [49]:
df1.columns = ['value', 'census_tract', 'avg/std']

In [50]:
stats_1 = pd.pivot_table(df1, index=['census_tract'], columns=['avg/std'])

In [59]:
stats_1.columns = stats_1.columns.droplevel()

In [63]:
stats_1.to_csv('stats_1.csv')

In [65]:
with open('stats_1.csv', 'r') as f:
    test = f.readlines()

In [70]:
max_dict = dict()
for row in test[1:]:
    tract, avg, std = row.split(',')
    max_dict[tract] = float(avg) + 3*float(std)

In [71]:
max_dict

{'17031071500': 145.79219608359998,
 '17031080100': 196.07726112089,
 '17031080202': 178.45570520811,
 '17031081000': 166.15515670759,
 '17031081100': 129.41022844018002,
 '17031081201': 140.17031297507,
 '17031081202': 174.08024900246,
 '17031081300': 116.20485559616,
 '17031081401': 138.90721055333,
 '17031081402': 185.09868298651,
 '17031081403': 177.73993787989002,
 '17031081500': 137.11494049415,
 '17031081600': 139.82668645507,
 '17031081700': 153.49949039487,
 '17031081800': 119.77578711077,
 '17031280100': 118.30525704215,
 '17031281900': 134.04540760745,
 '17031320100': 137.90130251585,
 '17031320400': 163.42664873411,
 '17031320600': 136.77105186456,
 '17031330100': 123.64499043366999,
 '17031833100': 145.7094456201,
 '17031839100': 139.88807868426,
 '17031980000': 194.4166465637,
 '17031980100': 169.96753967109998}

### 2nd calculation

In [72]:
path2 = 'output/avg2/'
file_list = os.listdir(path2)

In [73]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path2 + name, 'r') as f:
            lines += f.read()

In [74]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [76]:
df2 = pd.DataFrame(rows)

In [77]:
df2.head()

                    0          1
0  [17031080100, avg]   8.744598
1  [17031080100, std]   2.103797
2  [17031081800, avg]   6.729019
3  [17031081800, std]   2.123249
4  [17031980100, avg]  28.584544

In [78]:
df2['census_tract'] = df2[0].apply(lambda x: x[0])
df2['avg/std'] = df2[0].apply(lambda x: x[1])

In [79]:
df2.head()

                    0          1 census_tract avg/std
0  [17031080100, avg]   8.744598  17031080100     avg
1  [17031080100, std]   2.103797  17031080100     std
2  [17031081800, avg]   6.729019  17031081800     avg
3  [17031081800, std]   2.123249  17031081800     std
4  [17031980100, avg]  28.584544  17031980100     avg

In [80]:
df2 = df2.drop(0, axis=1)

In [81]:
df2.columns = ['value', 'census_tract', 'avg/std']

In [82]:
stats_2 = pd.pivot_table(df2, index=['census_tract'], columns=['avg/std'])

In [83]:
stats_2.columns = stats_2.columns.droplevel()

In [105]:
stats_2.to_csv('stats_2.csv')

In [85]:
stats_2

avg/std             avg       std
census_tract
17031071500    9.966963  2.230373
17031080100    8.744598  2.103797
17031080202    8.396587  2.035106
17031081000    7.597754  1.964793
17031081100    7.785951  1.948401
17031081201    7.713385  2.103088
17031081202    8.169118  2.369088
17031081300    7.789382  2.261476
17031081401    7.253774  2.060623
17031081402    7.496748  1.983594
17031081403    6.644964  2.243425
17031081500    6.612283  2.243542
17031081600    6.309506  2.170084
17031081700    6.231815  2.030873
17031081800    6.729019  2.123249
17031280100    6.229903  1.872987
17031281900    6.253285  1.963514
17031320100    6.070413  3.568661
17031320400    5.804337  3.744463
17031320600    6.496188  3.862968
17031330100    8.585816  2.675703
17031833100    7.322574  2.134764
17031839100    5.839374  3.146642
17031980000   39.898612  5.966075
17031980100   28.584544  4.609400

In [88]:
max_dict_2 = {tract: stats_2.loc[tract, 'avg'] + 3*stats_2.loc[tract, 'std']
 for tract in stats_2.index}

In [89]:
min_dict_2 = {tract: max(0, stats_2.loc[tract, 'avg'] - 3*stats_2.loc[tract, 'std'])
 for tract in stats_2.index}

In [91]:
max_dict_2

{'17031071500': 16.658083518022071,
 '17031080100': 15.055989471882919,
 '17031080202': 14.501906252990885,
 '17031081000': 13.492134762961909,
 '17031081100': 13.631155193555028,
 '17031081201': 14.022649306368837,
 '17031081202': 15.276380773245943,
 '17031081300': 14.573808764916045,
 '17031081401': 13.435642427212862,
 '17031081402': 13.447529212811357,
 '17031081403': 13.375240392960709,
 '17031081500': 13.342910193185176,
 '17031081600': 12.819757753907112,
 '17031081700': 12.324432973387236,
 '17031081800': 13.098765618152104,
 '17031280100': 11.848864808291001,
 '17031281900': 12.143828220173045,
 '17031320100': 16.776396142079779,
 '17031320400': 17.037726875163791,
 '17031320600': 18.085091051554585,
 '17031330100': 16.612926217499577,
 '17031833100': 13.726865356792612,
 '17031839100': 15.279299862399313,
 '17031980000': 57.796836584911631,
 '17031980100': 42.412742689303784}

In [90]:
min_dict_2

{'17031071500': 3.2758434602900008,
 '17031080100': 2.433205605006167,
 '17031080202': 2.2912679131864913,
 '17031081000': 1.7033738961399365,
 '17031081100': 1.9407466122339221,
 '17031081201': 1.4041214872654377,
 '17031081202': 1.0618546210307045,
 '17031081300': 1.004954917066109,
 '17031081401': 1.0719056115836656,
 '17031081402': 1.5459674941169359,
 '17031081403': 0,
 '17031081500': 0,
 '17031081600': 0,
 '17031081700': 0.13919781310069457,
 '17031081800': 0.35927220451814801,
 '17031280100': 0.61094206466147227,
 '17031281900': 0.36274248630344097,
 '17031320100': 0,
 '17031320400': 0,
 '17031320600': 0,
 '17031330100': 0.55870632340301718,
 '17031833100': 0.91828331730227664,
 '17031839100': 0,
 '17031980000': 22.000388002944348,
 '17031980100': 14.756345677526955}

### 3rd calculation

In [92]:
path3 = 'output/avg3/'
file_list = os.listdir(path3)

In [93]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path3 + name, 'r') as f:
            lines += f.read()

In [94]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [95]:
df3 = pd.DataFrame(rows)

In [96]:
df3.head()

                    0          1
0  [17031080100, avg]   8.632758
1  [17031080100, std]   1.418982
2  [17031081800, avg]   6.627601
3  [17031081800, std]   1.317123
4  [17031980100, avg]  28.536748

In [97]:
df3['census_tract'] = df3[0].apply(lambda x: x[0])
df3['avg/std'] = df3[0].apply(lambda x: x[1])

In [98]:
df3.head()

                    0          1 census_tract avg/std
0  [17031080100, avg]   8.632758  17031080100     avg
1  [17031080100, std]   1.418982  17031080100     std
2  [17031081800, avg]   6.627601  17031081800     avg
3  [17031081800, std]   1.317123  17031081800     std
4  [17031980100, avg]  28.536748  17031980100     avg

In [99]:
df3 = df3.drop(0, axis=1)

In [100]:
df3.columns = ['value', 'census_tract', 'avg/std']

In [101]:
stats_3 = pd.pivot_table(df3, index=['census_tract'], columns=['avg/std'])

In [102]:
stats_3.columns = stats_3.columns.droplevel()

In [106]:
stats_3.to_csv('stats_3.csv')

In [107]:
stats_3

avg/std             avg       std
census_tract
17031071500    9.857036  1.560321
17031080100    8.632758  1.418982
17031080202    8.290581  1.299264
17031081000    7.501670  1.273995
17031081100    7.691097  1.287136
17031081201    7.613701  1.406324
17031081202    8.042223  1.438961
17031081300    7.680067  1.498691
17031081401    7.160339  1.396197
17031081402    7.408777  1.472040
17031081403    6.532011  1.368273
17031081500    6.497953  1.358428
17031081600    6.197119  1.245466
17031081700    6.129961  1.214652
17031081800    6.627601  1.317123
17031280100    6.142162  1.171677
17031281900    6.162483  1.251711
17031320100    5.782515  1.609121
17031320400    5.482976  1.522101
17031320600    6.173929  1.795256
17031330100    8.454182  1.964130
17031833100    7.221796  1.457004
17031839100    5.599916  1.456856
17031980000   40.009800  4.366554
17031980100   28.536748  3.431448

These are reasonable values.