In [25]:
import os
import ast
import pandas as pd

In [26]:
path = 'output/avg1/'
file_list = os.listdir(path)

In [27]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path + name, 'r') as f:
            lines += f.read()

In [28]:
print lines

["17031080100", "avg"]	9.406521101992162
["17031080100", "std"]	62.22358000633179
["17031081800", "avg"]	6.974204268770139
["17031081800", "std"]	37.60052761406137
["17031833000", "avg"]	7.76287968967134
["17031833000", "std"]	40.95261731854589
["17031980100", "avg"]	28.999703110315814
["17031980100", "std"]	46.98927885355933
["17031080300", "avg"]	9.306195605824705
["17031080300", "std"]	45.03920098897135
["17031330100", "avg"]	8.855422411868986
["17031330100", "std"]	38.26318934058696
["17031842300", "avg"]	8.69358077206781
["17031842300", "std"]	30.902677110298544
["17031081403", "avg"]	7.171061127788166
["17031081403", "std"]	56.856292250668176
["17031081600", "avg"]	6.655361489167327
["17031081600", "std"]	44.39044165528918
["17031280100", "avg"]	6.457312592149528
["17031280100", "std"]	37.28264814998315
["17031841000", "avg"]	10.01092475449126
["17031841000", "std"]	54.98845404465196
["17031071400", "avg"]	11.823670942118486
["17031071400", "std"]	49.5889863796659
["17031838100", "avg"]	10.934379486942325
["17031838100", "std"]	53.525655285753125
["17031080201", "avg"]	9.537979387321796
["17031080201", "std"]	63.685568393542546
["17031081202", "avg"]	8.649300293358227
["17031081202", "std"]	55.14364956966472
["17031081401", "avg"]	7.601765507632711
["17031081401", "std"]	43.768481681892105
["17031071500", "avg"]	10.341330262901979
["17031071500", "std"]	45.15028860688386
["17031081000", "avg"]	8.030711394187712
["17031081000", "std"]	52.708148437813506
["17031243500", "avg"]	8.738124274028698
["17031243500", "std"]	36.23985104394
["17031320400", "avg"]	6.249886888913672
["17031320400", "std"]	52.39225394840416
["17031081500", "avg"]	6.9246004914491275
["17031081500", "std"]	43.39678000086454
["17031839100", "avg"]	6.183408989460502
["17031839100", "std"]	44.568223231579545
["17031081100", "avg"]	8.056508066682458
["17031081100", "std"]	40.45124012450649
["17031081201", "avg"]	8.05239508277205
["17031081201", "std"]	44.03930596415444
["17031833100", "avg"]	7.714408344301996
["17031833100", "std"]	45.99834575854631
["17031842200", "avg"]	10.05588675561317
["17031842200", "std"]	53.085551122004794
["17031081300", "avg"]	8.01762805136052
["17031081300", "std"]	36.0624091815665
["17031081402", "avg"]	8.025460814112428
["17031081402", "std"]	59.02440739079725
["17031320100", "avg"]	6.416872055454341
["17031320100", "std"]	43.82814348675868
["17031080202", "avg"]	8.930307514114528
["17031080202", "std"]	56.508465898008055
["17031320600", "avg"]	6.804473972349166
["17031320600", "std"]	43.322231208623855
["17031839000", "avg"]	6.377941352397425
["17031839000", "std"]	29.88245051964473
["17031841900", "avg"]	7.5258244301919515
["17031841900", "std"]	43.97478167623211
["17031081700", "avg"]	6.616564625973429
["17031081700", "std"]	48.960975256285856
["17031281900", "avg"]	6.548951472950388
["17031281900", "std"]	42.498818711450475
["17031980000", "avg"]	40.271373791281526
["17031980000", "std"]	51.38175759075638

In [29]:
len(lines)

2962

In [30]:
ast.literal_eval('[["from", "17031280100"], "avg"]')

[['from', '17031280100'], 'avg']

In [31]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [32]:
df1 = pd.DataFrame(rows)

In [33]:
df1.head()

                    0          1
0  [17031080100, avg]   9.406521
1  [17031080100, std]  62.223580
2  [17031081800, avg]   6.974204
3  [17031081800, std]  37.600528
4  [17031833000, avg]   7.762880

In [34]:
df1['to/from'] = df1[0].apply(lambda x: x[0][0])
df1['census_tract'] = df1[0].apply(lambda x: x[0][1])
df1['avg/std'] = df1[0].apply(lambda x: x[1])

In [35]:
df1

                     0          1 to/from census_tract avg/std
0   [17031080100, avg]   9.406521       1            7     avg
1   [17031080100, std]  62.223580       1            7     std
2   [17031081800, avg]   6.974204       1            7     avg
3   [17031081800, std]  37.600528       1            7     std
4   [17031833000, avg]   7.762880       1            7     avg
5   [17031833000, std]  40.952617       1            7     std
6   [17031980100, avg]  28.999703       1            7     avg
7   [17031980100, std]  46.989279       1            7     std
8   [17031080300, avg]   9.306196       1            7     avg
9   [17031080300, std]  45.039201       1            7     std
10  [17031330100, avg]   8.855422       1            7     avg
11  [17031330100, std]  38.263189       1            7     std
12  [17031842300, avg]   8.693581       1            7     avg
13  [17031842300, std]  30.902677       1            7     std
14  [17031081403, avg]   7.171061       1            7     avg
15  [17031081403, std]  56.856292       1            7     std
16  [17031081600, avg]   6.655361       1            7     avg
17  [17031081600, std]  44.390442       1            7     std
18  [17031280100, avg]   6.457313       1            7     avg
19  [17031280100, std]  37.282648       1            7     std
20  [17031841000, avg]  10.010925       1            7     avg
21  [17031841000, std]  54.988454       1            7     std
22  [17031071400, avg]  11.823671       1            7     avg
23  [17031071400, std]  49.588986       1            7     std
24  [17031838100, avg]  10.934379       1            7     avg
25  [17031838100, std]  53.525655       1            7     std
26  [17031080201, avg]   9.537979       1            7     avg
27  [17031080201, std]  63.685568       1            7     std
28  [17031081202, avg]   8.649300       1            7     avg
29  [17031081202, std]  55.143650       1            7     std
..                 ...        ...     ...          ...     ...
42  [17031839100, avg]   6.183409       1            7     avg
43  [17031839100, std]  44.568223       1            7     std
44  [17031081100, avg]   8.056508       1            7     avg
45  [17031081100, std]  40.451240       1            7     std
46  [17031081201, avg]   8.052395       1            7     avg
47  [17031081201, std]  44.039306       1            7     std
48  [17031833100, avg]   7.714408       1            7     avg
49  [17031833100, std]  45.998346       1            7     std
50  [17031842200, avg]  10.055887       1            7     avg
51  [17031842200, std]  53.085551       1            7     std
52  [17031081300, avg]   8.017628       1            7     avg
53  [17031081300, std]  36.062409       1            7     std
54  [17031081402, avg]   8.025461       1            7     avg
55  [17031081402, std]  59.024407       1            7     std
56  [17031320100, avg]   6.416872       1            7     avg
57  [17031320100, std]  43.828143       1            7     std
58  [17031080202, avg]   8.930308       1            7     avg
59  [17031080202, std]  56.508466       1            7     std
60  [17031320600, avg]   6.804474       1            7     avg
61  [17031320600, std]  43.322231       1            7     std
62  [17031839000, avg]   6.377941       1            7     avg
63  [17031839000, std]  29.882451       1            7     std
64  [17031841900, avg]   7.525824       1            7     avg
65  [17031841900, std]  43.974782       1            7     std
66  [17031081700, avg]   6.616565       1            7     avg
67  [17031081700, std]  48.960975       1            7     std
68  [17031281900, avg]   6.548951       1            7     avg
69  [17031281900, std]  42.498819       1            7     std
70  [17031980000, avg]  40.271374       1            7     avg
71  [17031980000, std]  51.381758       1            7     std

[72 rows x 5 columns]

### 1st calculation

In [36]:
path = 'output/avg1/'
file_list = os.listdir(path)

In [37]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path + name, 'r') as f:
            lines += f.read()

In [38]:
print lines

["17031080100", "avg"]	9.406521101992162
["17031080100", "std"]	62.22358000633179
["17031081800", "avg"]	6.974204268770139
["17031081800", "std"]	37.60052761406137
["17031833000", "avg"]	7.76287968967134
["17031833000", "std"]	40.95261731854589
["17031980100", "avg"]	28.999703110315814
["17031980100", "std"]	46.98927885355933
["17031080300", "avg"]	9.306195605824705
["17031080300", "std"]	45.03920098897135
["17031330100", "avg"]	8.855422411868986
["17031330100", "std"]	38.26318934058696
["17031842300", "avg"]	8.69358077206781
["17031842300", "std"]	30.902677110298544
["17031081403", "avg"]	7.171061127788166
["17031081403", "std"]	56.856292250668176
["17031081600", "avg"]	6.655361489167327
["17031081600", "std"]	44.39044165528918
["17031280100", "avg"]	6.457312592149528
["17031280100", "std"]	37.28264814998315
["17031841000", "avg"]	10.01092475449126
["17031841000", "std"]	54.98845404465196
["17031071400", "avg"]	11.823670942118486
["17031071400", "std"]	49.5889863796659
["17031838100", "avg"]	10.934379486942325
["17031838100", "std"]	53.525655285753125
["17031080201", "avg"]	9.537979387321796
["17031080201", "std"]	63.685568393542546
["17031081202", "avg"]	8.649300293358227
["17031081202", "std"]	55.14364956966472
["17031081401", "avg"]	7.601765507632711
["17031081401", "std"]	43.768481681892105
["17031071500", "avg"]	10.341330262901979
["17031071500", "std"]	45.15028860688386
["17031081000", "avg"]	8.030711394187712
["17031081000", "std"]	52.708148437813506
["17031243500", "avg"]	8.738124274028698
["17031243500", "std"]	36.23985104394
["17031320400", "avg"]	6.249886888913672
["17031320400", "std"]	52.39225394840416
["17031081500", "avg"]	6.9246004914491275
["17031081500", "std"]	43.39678000086454
["17031839100", "avg"]	6.183408989460502
["17031839100", "std"]	44.568223231579545
["17031081100", "avg"]	8.056508066682458
["17031081100", "std"]	40.45124012450649
["17031081201", "avg"]	8.05239508277205
["17031081201", "std"]	44.03930596415444
["17031833100", "avg"]	7.714408344301996
["17031833100", "std"]	45.99834575854631
["17031842200", "avg"]	10.05588675561317
["17031842200", "std"]	53.085551122004794
["17031081300", "avg"]	8.01762805136052
["17031081300", "std"]	36.0624091815665
["17031081402", "avg"]	8.025460814112428
["17031081402", "std"]	59.02440739079725
["17031320100", "avg"]	6.416872055454341
["17031320100", "std"]	43.82814348675868
["17031080202", "avg"]	8.930307514114528
["17031080202", "std"]	56.508465898008055
["17031320600", "avg"]	6.804473972349166
["17031320600", "std"]	43.322231208623855
["17031839000", "avg"]	6.377941352397425
["17031839000", "std"]	29.88245051964473
["17031841900", "avg"]	7.5258244301919515
["17031841900", "std"]	43.97478167623211
["17031081700", "avg"]	6.616564625973429
["17031081700", "std"]	48.960975256285856
["17031281900", "avg"]	6.548951472950388
["17031281900", "std"]	42.498818711450475
["17031980000", "avg"]	40.271373791281526
["17031980000", "std"]	51.38175759075638

In [39]:
ast.literal_eval('["17031280100", "avg"]')

['17031280100', 'avg']

In [40]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [41]:
df1 = pd.DataFrame(rows)

In [42]:
df1.head()

                    0          1
0  [17031080100, avg]   9.406521
1  [17031080100, std]  62.223580
2  [17031081800, avg]   6.974204
3  [17031081800, std]  37.600528
4  [17031833000, avg]   7.762880

In [43]:
df1['census_tract'] = df1[0].apply(lambda x: x[0])
df1['avg/std'] = df1[0].apply(lambda x: x[1])

In [44]:
df1.head()

                    0          1 census_tract avg/std
0  [17031080100, avg]   9.406521  17031080100     avg
1  [17031080100, std]  62.223580  17031080100     std
2  [17031081800, avg]   6.974204  17031081800     avg
3  [17031081800, std]  37.600528  17031081800     std
4  [17031833000, avg]   7.762880  17031833000     avg

In [45]:
df1 = df1.drop(0, axis=1)

In [46]:
df1.columns = ['value', 'census_tract', 'avg/std']

In [47]:
stats_1 = pd.pivot_table(df1, index=['census_tract'], columns=['avg/std'])

In [48]:
stats_1.columns = stats_1.columns.droplevel()

In [49]:
stats_1.to_csv('stats_1.csv')

In [50]:
with open('stats_1.csv', 'r') as f:
    test = f.readlines()

In [51]:
max_dict = dict()
for row in test[1:]:
    tract, avg, std = row.split(',')
    max_dict[tract] = float(avg) + 3*float(std)

In [52]:
max_dict

{'17031071400': 160.5906300812,
 '17031071500': 145.79219608359998,
 '17031080100': 196.07726112089,
 '17031080201': 200.59468456782,
 '17031080202': 178.45570520811,
 '17031080300': 144.42379857282,
 '17031081000': 166.15515670759,
 '17031081100': 129.41022844018002,
 '17031081201': 140.17031297537,
 '17031081202': 174.08024900246,
 '17031081300': 116.20485559616,
 '17031081401': 138.90721055333,
 '17031081402': 185.09868298651,
 '17031081403': 177.73993787989002,
 '17031081500': 137.11494049415,
 '17031081600': 139.82668645507,
 '17031081700': 153.49949039487,
 '17031081800': 119.77578711107,
 '17031243500': 117.45767740573001,
 '17031280100': 118.30525704215,
 '17031281900': 134.04540760745,
 '17031320100': 137.90130251585,
 '17031320400': 163.42664873411,
 '17031320600': 136.77116759815002,
 '17031330100': 123.64499043366999,
 '17031833000': 130.62073164517,
 '17031833100': 145.70944561980002,
 '17031838100': 171.51134534430003,
 '17031839000': 96.0252929112,
 '17031839100': 139.88807868426,
 '17031841000': 174.9762868886,
 '17031841900': 139.45016945879001,
 '17031842200': 169.3125401216,
 '17031842300': 101.40161210297,
 '17031980000': 194.4166465637,
 '17031980100': 169.96753967109998}

In [53]:
len(max_dict)

36

### 2nd calculation

In [54]:
path2 = 'output/avg2/'
file_list = os.listdir(path2)

In [55]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path2 + name, 'r') as f:
            lines += f.read()

In [56]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [57]:
df2 = pd.DataFrame(rows)

In [58]:
df2.head()

                    0         1
0  [17031080100, avg]  8.744598
1  [17031080100, std]  2.103797
2  [17031081800, avg]  6.729019
3  [17031081800, std]  2.123249
4  [17031833000, avg]  7.450590

In [59]:
df2['census_tract'] = df2[0].apply(lambda x: x[0])
df2['avg/std'] = df2[0].apply(lambda x: x[1])

In [60]:
df2.head()

                    0         1 census_tract avg/std
0  [17031080100, avg]  8.744598  17031080100     avg
1  [17031080100, std]  2.103797  17031080100     std
2  [17031081800, avg]  6.729019  17031081800     avg
3  [17031081800, std]  2.123249  17031081800     std
4  [17031833000, avg]  7.450590  17031833000     avg

In [61]:
df2 = df2.drop(0, axis=1)

In [62]:
df2.columns = ['value', 'census_tract', 'avg/std']

In [63]:
stats_2 = pd.pivot_table(df2, index=['census_tract'], columns=['avg/std'])

In [64]:
stats_2.columns = stats_2.columns.droplevel()

In [65]:
stats_2.to_csv('stats_2.csv')

In [66]:
stats_2

avg/std             avg       std
census_tract
17031071400   11.434435  2.281653
17031071500    9.966963  2.230373
17031080100    8.744598  2.103797
17031080201    8.895159  1.846233
17031080202    8.396587  2.035106
17031080300    8.942435  2.157375
17031081000    7.597754  1.964793
17031081100    7.785951  1.948401
17031081201    7.713385  2.103088
17031081202    8.169118  2.369088
17031081300    7.789382  2.261476
17031081401    7.253774  2.060623
17031081402    7.496748  1.983594
17031081403    6.644964  2.243425
17031081500    6.612283  2.243542
17031081600    6.309506  2.170084
17031081700    6.231815  2.030873
17031081800    6.729019  2.123249
17031243500    8.526664  2.768842
17031280100    6.229903  1.872987
17031281900    6.253285  1.963514
17031320100    6.070413  3.568661
17031320400    5.804337  3.744463
17031320600    6.496188  3.862968
17031330100    8.585816  2.675703
17031833000    7.450590  2.015722
17031833100    7.322574  2.134764
17031838100   10.430409  2.595584
17031839000    6.207210  2.701966
17031839100    5.839374  3.146642
17031841000    9.577636  2.936436
17031841900    7.241147  3.016764
17031842200    9.519941  2.650471
17031842300    8.530176  3.723899
17031980000   39.898612  5.966075
17031980100   28.584544  4.609400

In [67]:
max_dict_2 = {tract: stats_2.loc[tract, 'avg'] + 3*stats_2.loc[tract, 'std']
 for tract in stats_2.index}

In [68]:
min_dict_2 = {tract: max(0, stats_2.loc[tract, 'avg'] - 3*stats_2.loc[tract, 'std'])
 for tract in stats_2.index}

In [69]:
max_dict_2

{'17031071400': 18.279395493103369,
 '17031071500': 16.658083518024235,
 '17031080100': 15.055989471884603,
 '17031080201': 14.433857863460865,
 '17031080202': 14.50190625299085,
 '17031080300': 15.41455983977413,
 '17031081000': 13.492134762962918,
 '17031081100': 13.631155193555978,
 '17031081201': 14.022649306370351,
 '17031081202': 15.276380773245641,
 '17031081300': 14.57380876491662,
 '17031081401': 13.435642427212862,
 '17031081402': 13.447529212812347,
 '17031081403': 13.375240392959718,
 '17031081500': 13.342910193184128,
 '17031081600': 12.819757753907131,
 '17031081700': 12.324432973389785,
 '17031081800': 13.098765618152013,
 '17031243500': 16.833191529831108,
 '17031280100': 11.848864808288033,
 '17031281900': 12.143828220173363,
 '17031320100': 16.77639614207957,
 '17031320400': 17.037726875165305,
 '17031320600': 18.085091051553988,
 '17031330100': 16.612926217498934,
 '17031833000': 13.497756670456504,
 '17031833100': 13.726865356792999,
 '17031838100': 18.217160880511887,
 '17031839000': 14.313108520637485,
 '17031839100': 15.279299862403782,
 '17031841000': 18.386944569071787,
 '17031841900': 16.291438498579318,
 '17031842200': 17.471352670877039,
 '17031842300': 19.701872641362591,
 '17031980000': 57.796836584919184,
 '17031980100': 42.412742689306647}

In [71]:
len(min_dict_2)

36

### 3rd calculation

In [73]:
path3 = 'output/avg3/'
file_list = os.listdir(path3)

In [74]:
lines = ''
for name in file_list:
    if name.startswith('part'):
        with open(path3 + name, 'r') as f:
            lines += f.read()

In [75]:
rows = []
for line in lines.splitlines():
    rows.append(map(ast.literal_eval, line.split('\t')))

In [76]:
df3 = pd.DataFrame(rows)

In [77]:
df3.head()

                    0         1
0  [17031080100, avg]  8.630585
1  [17031080100, std]  1.425377
2  [17031081800, avg]  6.625215
3  [17031081800, std]  1.322870
4  [17031833000, avg]  7.350956

In [78]:
df3['census_tract'] = df3[0].apply(lambda x: x[0])
df3['avg/std'] = df3[0].apply(lambda x: x[1])

In [79]:
df3.head()

                    0         1 census_tract avg/std
0  [17031080100, avg]  8.630585  17031080100     avg
1  [17031080100, std]  1.425377  17031080100     std
2  [17031081800, avg]  6.625215  17031081800     avg
3  [17031081800, std]  1.322870  17031081800     std
4  [17031833000, avg]  7.350956  17031833000     avg

In [80]:
df3 = df3.drop(0, axis=1)

In [81]:
df3.columns = ['value', 'census_tract', 'avg/std']

In [82]:
stats_3 = pd.pivot_table(df3, index=['census_tract'], columns=['avg/std'])

In [83]:
stats_3.columns = stats_3.columns.droplevel()

In [84]:
stats_3.to_csv('stats_3.csv')

In [85]:
stats_3

avg/std             avg       std
census_tract
17031071400   11.324124  1.805734
17031071500    9.846077  1.586051
17031080100    8.630585  1.425377
17031080201    8.797396  1.306599
17031080202    8.287167  1.309778
17031080300    8.817053  1.483946
17031081000    7.498894  1.281899
17031081100    7.688060  1.295914
17031081201    7.611094  1.413107
17031081202    8.039097  1.447380
17031081300    7.677390  1.505260
17031081401    7.158110  1.401676
17031081402    7.406565  1.477346
17031081403    6.529830  1.373238
17031081500    6.495668  1.363642
17031081600    6.194932  1.250676
17031081700    6.127620  1.220310
17031081800    6.625215  1.322870
17031243500    8.353782  1.601572
17031280100    6.139975  1.177182
17031281900    6.160259  1.256947
17031320100    5.775613  1.620507
17031320400    5.476409  1.532964
17031320600    6.164232  1.810429
17031330100    8.450676  1.971251
17031833000    7.350956  1.437168
17031833100    7.218862  1.463956
17031838100   10.299586  1.927787
17031839000    6.016131  1.518197
17031839100    5.594260  1.466944
17031841000    9.424096  1.885661
17031841900    7.054522  1.746218
17031842200    9.395906  1.959304
17031842300    8.265112  2.269108
17031980000   39.707097  5.415186
17031980100   28.402195  3.862408

These are reasonable values.

In [86]:
len(stats_3)

36